<mat-toolbar>
  <div fxFlex="50">
    <button
      mat-icon-button
      matTooltip="Connect KVM"
      *ngIf="deviceState !== 2"
      (click)="connectionStatus(true)"
    >
      <mat-icon>tv</mat-icon>
    </button>
    <button
      *ngIf="deviceState === 2"
      mat-icon-button
      matTooltip="Disconnect"
      (click)="connectionStatus(false)"
    >
      <mat-icon>tv_off</mat-icon>
    </button>
  </div>
</mat-toolbar>
<amt-kvm
  *ngIf="readyToLoadKVM"
  class="kvm"
  [deviceConnection]="deviceConnection"
  (deviceStatus)="deviceStatus($event)"
></amt-kvm>

<mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
